/* Archive */
	.archive-container {
	    padding: 75px 0;
	}
	.post-item {
	    margin-bottom: 65px;
	}
	.post-item .details h2 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.post-item .details p {
	    line-height: 1.7;
	}
	.post-item .date {
	    border-top: 1px solid #cacaca;
		margin: 20px 0;
		padding-top: 15px;
	}
	.post-item a {
		background: #eee;
		border-radius: 3px;
		color: #fff;
		display: block;
		font-size: 16px;
		padding: 14px 0;
		width: 130px;
	}
	.post-item a:hover {
		background: #eee;
	}
/* Archive */

/* Single */
	.single-container {
	    padding: 75px 0;
	}
	.single-container .title-part {
	    margin-bottom: 50px;
	}
	.single-container .title-part h2 {
		margin-bottom: 10px;
	}
/* Single */

/* 404 */
	.page-not-found {
	    padding: 100px 0;
	}
	.page-not-found h2 {
		font-size: 200px;
		font-weight: 700;
		letter-spacing: 15px;
	}
	.page-not-found p {
		font-size: 50px;
	}
/* 404 */

/* Responsive */
	@media ( max-width: 600px ) {
		.archive-container [class*="col-"] {
			width: 100%;
		}
		.archive-container .details {
			height: auto !important;
		}
	}
/* Responsive */