html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0; line-height: normal; }
p, a, dl, dd, th, td, address, li { margin: 0px; }
ul { margin: 0; }
a:hover, a:active, a:focus, a:visited { text-decoration: none; }

/* >>>>> FADE */
.transition {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
/* <<<<< FADE */

/* No post found */
.no-post-found {
    padding: 50px 0;
    font-size: 30px;
}
/* No post found */

.full-center {
    align-items: center; 
    display: flex;
    display: -webkit-flex;
    justify-content: center; 
}

/* >>>>> 5items COLUMN */
.col-xs-5items,
.col-sm-5items,
.col-md-5items,
.col-lg-5items {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 0;
}
.col-xs-5items {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5items {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5items {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5items {
        width: 20%;
        float: left;
    }
}
/* <<<<< 5items COLUMN */

.alignleft { float: left; margin: 0 15px 10px 0; }
.alignright { float: right; margin-left: 15px; }
.aligncenter { float: none; margin: 0 auto; display: block; }
.show-grid { margin-bottom: 15px; }
.show-grid-2 { margin-bottom: 20px; }
.show-grid-3 { margin-bottom: 30px; }
.show-grid-4 { margin-bottom: 40px; }
.no-padding { padding: 0; }
.no-pad-lr { padding-left: 0; padding-right: 0; }
.no-pad-tb { padding-top: 0; padding-bottom: 0; }
.no-pad-top { padding-top: 0; }
.no-pad-right { padding-right: 0; }
.no-pad-bottom { padding-bottom: 0; }
.no-pad-left { padding-left: 0; }
.no-margin { margin: 0; }
.auto-margin { margin: auto; }
.no-mar-lr { margin-left: 0; margin-right: 0; }
.no-mar-tb { margin-top: 0; margin-bottom: 0; }
.no-mar-top { margin-top: 0; }
.no-mar-right { margin-right: 0; }
.no-mar-bottom { margin-bottom: 0; }
.no-mar-left { margin-left: 0; }

.bold { font-weight: 700; }
.medium { font-weight: 600; }
.regular { font-weight: 400; }
.light { font-weight: 300; }