.resize {
	width: 200px;
    position: fixed;
    bottom: 0;
    z-index: 11111;
    padding: 10px;
	background: #9E9E9E;
	border-radius: 5px;
	margin: 0 0 10px 10px;
}
.resize input {
	width: 100%;
	margin-bottom: 5px;
}
.resize a p {
	text-align: center;
	background: #e4e4e4;
}